
.icon-mail:before { content: '\e800'; } /* '' */
.icon-tencent-weibo:before { content: '\e801'; } /* '' */
.icon-qq:before { content: '\e803'; } /* '' */
.icon-wechat:before { content: '\e804'; } /* '' */
.icon-weibo:before { content: '\e805'; } /* '' */
.icon-renren:before { content: '\e806'; } /* '' */
.icon-google-plus:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e809'; } /* '' */